<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>Servlet.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarUsuario</servlet-name>
        <servlet-class>Servlet.borrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUsuario</servlet-name>
        <servlet-class>Servlet.actualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarsabor</servlet-name>
        <servlet-class>Servlet.PRODUCTOS.SABORES.registrarsabor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarSabor</servlet-name>
        <servlet-class>Servlet.guardarSabor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarSabor</servlet-name>
        <servlet-class>Servlet.actualizarSabor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarSabor</servlet-name>
        <servlet-class>Servlet.borrarSabor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pguardar</servlet-name>
        <servlet-class>Servlet.guardarPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promocionesborrar</servlet-name>
        <servlet-class>Servlet.Promocionesborrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promocionesactualizar</servlet-name>
        <servlet-class>Servlet.Promocionesactualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarPromocion</servlet-name>
        <servlet-class>Servlet.guardarPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPromocion</servlet-name>
        <servlet-class>Servlet.actualizarPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarPromocion</servlet-name>
        <servlet-class>Servlet.borrarPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarCantidad</servlet-name>
        <servlet-class>Servlet.guardarCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarCantidad</servlet-name>
        <servlet-class>borrarCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarCantidad</servlet-name>
        <servlet-class>Servlet.actualizarCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarTamano</servlet-name>
        <servlet-class>Servlet.guardarTamano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarTamano</servlet-name>
        <servlet-class>Servlet.borrarTamano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarTamano</servlet-name>
        <servlet-class>Servlet.actualizarTamano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarPresentacion</servlet-name>
        <servlet-class>Servlet.guardarPresentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPresentacion</servlet-name>
        <servlet-class>Servlet.actualizarPresentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarPresentacion</servlet-name>
        <servlet-class>Servlet.borrarPresentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarProducto</servlet-name>
        <servlet-class>Servlet.guardarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarUsuario</servlet-name>
        <url-pattern>/borrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUsuario</servlet-name>
        <url-pattern>/actualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarsabor</servlet-name>
        <url-pattern>/registrarsabor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarSabor</servlet-name>
        <url-pattern>/guardarSabor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarSabor</servlet-name>
        <url-pattern>/actualizarSabor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarSabor</servlet-name>
        <url-pattern>/borrarSabor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pguardar</servlet-name>
        <url-pattern>/Pguardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promocionesborrar</servlet-name>
        <url-pattern>/Promocionesborrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promocionesactualizar</servlet-name>
        <url-pattern>/Promocionesactualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarPromocion</servlet-name>
        <url-pattern>/guardarPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPromocion</servlet-name>
        <url-pattern>/actualizarPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarPromocion</servlet-name>
        <url-pattern>/borrarPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarCantidad</servlet-name>
        <url-pattern>/guardarCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarCantidad</servlet-name>
        <url-pattern>/borrarCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarCantidad</servlet-name>
        <url-pattern>/actualizarCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarTamano</servlet-name>
        <url-pattern>/guardarTamano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarTamano</servlet-name>
        <url-pattern>/borrarTamano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarTamano</servlet-name>
        <url-pattern>/actualizarTamano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarPresentacion</servlet-name>
        <url-pattern>/guardarPresentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPresentacion</servlet-name>
        <url-pattern>/actualizarPresentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarPresentacion</servlet-name>
        <url-pattern>/borrarPresentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarProducto</servlet-name>
        <url-pattern>/guardarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
